service.factoryPid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment"
service.pid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment.2d32f2a5-bd6c-4401-b1b2-c3c5789ca25a"
whitelist.bundles=[ \
  "com.composum.core.commons", \
  "com.composum.core.pckgmgr", \
  ]
whitelist.name="composum"
