factory.pid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment"
factory.pidList=[ \
  "org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment.ac43a0eb-4240-4884-b883-9bcc2d6c89b3", \
  "org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment.2d32f2a5-bd6c-4401-b1b2-c3c5789ca25a", \
  ]
