jaas.classname="org.apache.jackrabbit.oak.security.authentication.token.TokenLoginModule"
jaas.controlFlag="sufficient"
jaas.ranking=I"200"
service.factoryPid="org.apache.felix.jaas.Configuration.factory"
service.pid="org.apache.felix.jaas.Configuration.factory.9406132a-55bf-4454-ae5d-85e710ba8fbf"
