factory.pid="org.apache.felix.jaas.Configuration.factory"
factory.pidList=[ \
  "org.apache.felix.jaas.Configuration.factory.9406132a-55bf-4454-ae5d-85e710ba8fbf", \
  "org.apache.felix.jaas.Configuration.factory.ab468ab2-ce69-4c84-9a5b-2c218e54f575", \
  "org.apache.felix.jaas.Configuration.factory.102f2520-9878-4daa-8648-be533551506e", \
  ]
