service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.3ead0ad9-9d52-446e-a333-2798787d5882"
user.mapping=[ \
  "org.apache.sling.installer.provider.jcr\=sling-jcr-install", \
  ]
