service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.8630a8de-5914-426e-b90c-3474c45a3637"
user.mapping=[ \
  "org.apache.sling.servlets.resolver:console\=sling-readall", \
  "org.apache.sling.servlets.resolver:scripts\=sling-scripting", \
  ]
