service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.a36d7093-338a-4318-b08d-329596ff26a9"
user.mapping=[ \
  "org.apache.sling.scripting.core\=sling-scripting", \
  "org.apache.sling.scripting.sightly.js.provider\=sling-scripting", \
  ]
