service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.b7ddfdde-cfc2-40c5-a5e1-fd974cc7bb79"
user.mapping=[ \
  "org.apache.sling.discovery.commons\=sling-discovery", \
  "org.apache.sling.discovery.base\=sling-discovery", \
  "org.apache.sling.discovery.oak\=sling-discovery", \
  ]
