service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.e610cf78-b49b-4143-bef8-09eaf50bcd55"
user.mapping=[ \
  "org.apache.sling.resourceresolver:mapping\=sling-mapping", \
  "org.apache.sling.resourceresolver:hierarchy\=sling-readall", \
  "org.apache.sling.resourceresolver:observation\=sling-readall", \
  "org.apache.sling.resourceresolver:console\=sling-readall", \
  ]
