service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.e7ea3b25-78ca-47b9-87e3-a19beb4f89f7"
user.mapping=[ \
  "org.apache.sling.event\=sling-event", \
  "org.apache.sling.event.dea\=sling-event", \
  ]
