factory.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
factory.pidList=[ \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.8630a8de-5914-426e-b90c-3474c45a3637", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.a36d7093-338a-4318-b08d-329596ff26a9", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.3ead0ad9-9d52-446e-a333-2798787d5882", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.e610cf78-b49b-4143-bef8-09eaf50bcd55", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.e7ea3b25-78ca-47b9-87e3-a19beb4f89f7", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.c6fdedd8-8380-46ca-9895-55be0eeb886b", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.4ff7df5b-d25b-4d92-9b06-40aa3e1fb912", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.b7ddfdde-cfc2-40c5-a5e1-fd974cc7bb79", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.926ad14e-6372-4c21-acab-5bddca2ab972", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.50756e6a-eb96-4bc8-835b-c20b05235bb1", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.6ce3b88a-f7b7-402b-8d86-8979dbaeb09c", \
  "org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended.d3dd952d-7b9b-4a92-96ba-6508845ad2f6", \
  ]
