org.apache.felix.jaas.Configuration.factory.102f2520-9878-4daa-8648-be533551506e="launchpad:resources/install/10/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.Configuration.factory.9406132a-55bf-4454-ae5d-85e710ba8fbf="launchpad:resources/install/10/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.Configuration.factory.ab468ab2-ce69-4c84-9a5b-2c218e54f575="launchpad:resources/install/10/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.ConfigurationSpi="launchpad:resources/install/10/org.apache.felix.jaas-1.0.2.jar"
org.apache.sling.commons.log.LogManager="slinginstall:d:\\Server\\Sling\\9\\ser-laser\\sling\\startup\\1\\org.apache.sling.commons.log-5.0.2.jar"
org.apache.sling.commons.log.LogManager.factory.config.23d17e63-32b0-47a7-806b-f8272a7e2afd="slinginstall:d:\\Server\\Sling\\9\\ser-laser\\sling\\startup\\1\\org.apache.sling.commons.log-5.0.2.jar"
org.apache.sling.commons.log.LogManager.factory.config.49712e2c-155e-47a9-afed-dd087b399b7e="slinginstall:d:\\Server\\Sling\\9\\ser-laser\\sling\\startup\\1\\org.apache.sling.commons.log-5.0.2.jar"
org.apache.sling.commons.log.LogManager.factory.config.b3766eb7-43a7-4c3f-b389-dece9d9c6648="slinginstall:d:\\Server\\Sling\\9\\ser-laser\\sling\\startup\\1\\org.apache.sling.commons.log-5.0.2.jar"
